/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: skyblue;
    display: flex;
}   

form {
    max-width: 700px;
    margin: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 600px;
}

fieldset {
    border: none;
    border-top: 1px solid;
    margin-bottom: 10px;
    padding: 0px;
    
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 14px;

}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, select, textarea , button {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    border-color: black;
}

input[type="radio"],input[type="checkbox"]
{
    width: auto;
    margin-left: 5px;
}
#mid
{
    margin-top: 15px;
    display: flex;
}

#TipoDocumento {
    width: 30%;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
}

#input-container>input {
    width: 55%;
    border-radius: 4px;
    font-size: 14px;
}

#AnioNacimiento {
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
}


button {
    width: auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Form rows and columns */
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-column {
    flex: 0 0 48%;
    margin-bottom: 15px;


}

.form-column2 {
    flex: 0 0 33%;
    margin-bottom: 15px;
    
}


/* Validation styles */

input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}

.counter {
    bottom: -20px;
    right: 0;
    font-size: 12px;
    color: #555;
}
.error-message {
    color: #d9534f;
    font-size: 12px;
    display: none;
  }
#ErrorZone{
    background-color: rgb(17, 158, 214);
    width: 350px;padding: 20px ;
    border:  1px solid black;
    display: none;

}